<app-innerbanner [subTitle]="'Full Stack Development'"
  [heading]="'Empowering businesses with comprehensive development solutions across the full stack, propelling them to new heights in the digital landscape.'"
  btnText="let's talk" [backgroundUrl]="'fullstack-development.png'"></app-innerbanner>
<section class="large-cap mobile-filter" [ngClass]="{'open-filter': isActive}">
  <div class="filter-icon">
    <div class="filter-toggle" (click)="toggleSidebar()">
      <button class="filter-open"><i class="bx bx-chevron-right"></i></button>
      <button class="filter-close"><i class="bx bx-chevron-left"></i></button>
    </div>
  </div>
  <div class="container">
    <div class="blogSection">
      <div class="blogMenu" data-aos="fade-up">
        <app-sidebar></app-sidebar>
      </div>
      <div class="blogContainer">
        <figure class="mb-4" data-aos="fade-up">
          <img class="blogImg blog-banner" src="./assets/images/services/full-stack-development.png"
            alt="full-stack-development" />
        </figure>
        <div class="content" data-aos="fade-up">
          <h2>Full stack for today's dynamic tech landscape</h2>
          <p>The legacy development model's presents several challenges, stemming from the separation of front-end and
            back-end, resulting in prolonged turnaround times, increased coordination efforts, and higher bug rates. A
            solution lies in adopting a full stack development approach. This bridges both the front-end and back-end
            technologies ensuring a unified and efficient software development process that addresses specific business
            needs.

          </p>

          <ul class="listStyle mt-3">
            <li>Responsive design </li>
            <li>Serverless architecture </li>
            <li>Containerization </li>
            <li>Websockets </li>
            <li>Script frameworks</li>
            <li>Progressive web apps (PWAs)</li>
            <li>Jamstack architecture </li>
            <li>Webassembly (Wasm)</li>

          </ul>

        </div>
        <div class="content" data-aos="fade-up">
          <h2>Benefits of engaging in full stack development with us
          </h2>
          <p>At Global Sumi, we excel in full stack development by seamlessly blending expertise in frontend and backend
            technologies. Our dedicated team ensures accurate project scope definition, precise estimation techniques,
            and the identification of best-fit technologies. We simplify UI/UX complexities, seamlessly integrate with
            third-party systems/APIs, and prioritize rigorous testing for high-quality solutions. With a commitment to
            open communication, we empower businesses with innovative, efficient, and customized full stack development
            solutions to propel you to new heights in the digital landscape.
          </p>

          <div class="row">
            <div class="logos ">
              <ul class="services-logo p-0">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="autoLoopingLogo" class="">
                  <li ngxSlickItem><img src="./assets/images/services/logo/java.png" /></li>
                  <li> <img src="./assets/images/services/logo/dotnet.png" /></li>
                  <li><img src="./assets/images/services/logo/node-js.png" /></li>
                  <li> <img src="./assets/images/services/logo/python.png" /></li>
                </ngx-slick-carousel>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
