<app-innerbanner [subTitle]="'Retail'"
  [heading]="'Transforming your traditional retail into a tech-forward, customer-centric landscape'"
  btnText="let's talk" [backgroundUrl]="'retail.png'"></app-innerbanner>
<section class="large-cap mobile-filter" [ngClass]="{'open-filter': isActive}">
  <div class="filter-icon">
    <div class="filter-toggle" (click)="toggleSidebar()">
      <button class="filter-open"><i class="bx bx-chevron-right"></i></button>
      <button class="filter-close"><i class="bx bx-chevron-left"></i></button>
    </div>
  </div>
  <div class="container">
    <div class="blogSection">
      <div class="blogMenu" data-aos="fade-up">
        <app-sidebar></app-sidebar>
      </div>
      <div class="blogContainer">
        <figure class="mb-4" data-aos="fade-up">
          <img class="blogImg blog-banner" src="./assets/images/industries/retail.png" alt="retail" />
        </figure>
        <div class="content" data-aos="fade-up">
          <h2>AI-powered analytics, personalized customer experiences
          </h2>
          <p>We specialize in revolutionizing the retail sector by offering seamless omnichannel
            integration and AI-powered analytics to cybersecurity measures and personalized customer
            experiences. We empower retailers to optimize operations, boost efficiency, and engage
            customers in innovative ways. With our expertise, we transform traditional retail into a
            tech-forward, customer-centric landscape, ensuring enhanced productivity and success in
            today's dynamic market.
          </p>
        </div>
        <div class="content" data-aos="fade-up">
          <h2>IT revolutionizes engagement with customers</h2>
          <ul class="listStyle mt-3">
            <li>Retail management systems </li>
            <li>Customer-focused automation </li>
            <li>Hybrid stores </li>
            <li>Frictionless delivery </li>
            <li>Personalized product</li>
            <li>Integrated warehouse</li>
            <li>Impulse buying</li>
            <li>Order management - multichannel </li>
          </ul>
        </div>
        <div class="content" data-aos="fade-up">
          <h2>IT revolutionizes engagement with customers
          </h2>
          <p>Information Technology (IT) is significantly revolutionizing the retail sector by
            introducing innovative solutions that transform various aspects of retail operations and
            customer experiences. IT has facilitated the rise of online shopping through e-commerce
            platforms, allowing retailers to reach a broader audience, conduct transactions online,
            and provide 24/7 accessibility.
          </p>
          <div class="row">
            <div class="col-md-6" data-aos="fade-right">
              <figure class="image-blog">
                <img class="blogImg blog-banner" src="./assets/images/industries/img/retail-2.png" alt="ai-&-ml" />
              </figure>
            </div>
            <div class="col-md-6" data-aos="fade-left">
              <figure>
                <img class="blogImg blog-banner" src="./assets/images/industries/img/retail-3.png" alt="ai-&-ml" />
              </figure>
            </div>
          </div>
          <div class="mt-3">
            <div class="btn-group">
              <a [routerLink]="['/retail/whitepaper']" fragment="start">Read more
                <span class="right-arrow">
                  <img src="./assets/images/button-arrow.png" alt="button-arrow" /> </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>