<div class="h-banner">
  <div class="container h-100">
    <div class="mobile-banner" data-aos="zoom-in">
      <img src="./assets/images/man_And_robo.png" alt="mobile-banner" />
    </div>
    <div class="banner-content">
      <div class="inner-align" data-aos="fade-up">
        <h6 class="sub-title">We provide more than just AI consulting</h6>
        <h1>Experience <br /> synergy of AI- <br />powered solutions </h1>
        <p class="pt-3 mt-2">Leveraging AI, we redefine how your businesses can thrive in the digital
          landscape. Our experts combine human ingenuity with the latest AI technology, that is not
          just powerful, but adaptive and future-proof.
        </p>
        <div class="btn-group">
          <a routerLink="/ai-ml">GET STARTED
            <span class="right-arrow">
              <img src="./assets/images/button-arrow.png" alt="button-arrow" /> </span>
          </a>
        </div>
      </div>
    </div>
    <div class="banner-image">
      <img src="./assets/images/man_And_robo.png" alt="banner-kv" data-aos="fade-left" />
    </div>
  </div>
</div>
<section class="large-cap">
  <div class="container">
    <div class="row col-change">
      <div class="col-lg-6">
        <div class="about-img " data-aos="fade-right">
          <figure class="text-center">
            <img src="./assets/images/about-img.png" alt="about-img" />
          </figure>
          <div class="it-ex">
            <h4>2 Decades</h4>
            <p>IT Business Experience</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div data-aos="fade-left">
          <h6 class="sub-title">About Us</h6>
          <h2>Building trust and credibility over two decades
          </h2>
          <p>
            We pride ourselves on being customer-centric in all our endeavors. We prioritize our
            customers' needs, ensuring that their satisfaction remains at the forefront of
            everything we do. We believe in building trust through integrity and accountability,
            fostering long-lasting connections with our valued clientele.
          </p>
          <div class="about-blog">
            <div class="blog-items">
              <div class="">
                <img src="./assets/images/Homepage/icons/transparency.png" alt="transparency" />
              </div>
              <div class="item-cont">
                <h6>Transparency</h6>
                <p>Your needs are our priority, and transparency is our pledge.
                </p>
              </div>
            </div>
            <div class="blog-items">
              <div class="">
                <img src="./assets/images/Homepage/icons/global-presence.png" alt="global" />
              </div>
              <div class="item-cont">
                <h6>Global Presence</h6>
                <p>we stand at the forefront of delivering excellence across borders.</p>
              </div>
            </div>
          </div>
          <p>Our extensive reach enables us to cater to various markets, embracing diversity and
            leveraging our expertise to meet the unique needs of our customer.
          </p>
          <div class="btn-group">
            <a routerLink="/aboutus">Read More
              <span class="right-arrow">
                <img src="./assets/images/button-arrow.png" alt="button-arrow" /> </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="large-cap pt-0 services-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5" data-aos="fade-right">
        <div>
          <h6 class="sub-title">Services</h6>
          <h2>Your innovative IT solutions hub </h2>
        </div>
      </div>
      <div class="col-lg-7" data-aos="fade-left">
        <div class="services-blog">
          <div>
            <p>
              Specialized in providing comprehensive suite of services designed to address your
              most
              intricate technological challenges ensuring top-notch quality with expertise across
              various domains.
            </p>
          </div>
          <div class="btn-group mt-0">
            <a routerLink="/ai-ml">Read More
              <span class="right-arrow">
                <img src="./assets/images/button-arrow.png" alt="button-arrow" /> </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="" data-aos="fade-left">
      <!-- <ul class="services-slider"> -->
      <ngx-slick-carousel #slickModal="slick-carousel" [config]="servicesSliderConfig" class="services-slider">
        <li class="item">
          <a routerLink="/ai-ml">
            <div class="services-item">
              <div class="card-overlay"></div>
              <div class="thumbnail">
                <img src="./assets/images/services/thumbnail/ai.png" alt="services-image" />
                <h5>AI and ML
                </h5>
              </div>
              <div class="ser-hover">
                <h5>AI and ML
                </h5>
                <p>Pioneering AI and ML solutions, transforming data into strategic advantage.
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="item">
          <a routerLink="/cloud-services">
            <div class="services-item">
              <div class="card-overlay"></div>
              <div class="thumbnail">
                <img src="./assets/images/services/thumbnail/cloud-technology.png" alt="services-image" />
                <h5>Cloud Services
                </h5>
              </div>
              <div class="ser-hover">
                <h5>Cloud Services
                </h5>
                <p>Enabling agile cloud solutions, optimizing performance for your digital transformation journey
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="item">
          <a routerLink="/iot-digitital-experience">

            <div class="services-item">
              <div class="card-overlay"></div>
              <div class="thumbnail">
                <img src="./assets/images/services/thumbnail/iot-digital-experience.png" alt="services-image" />
                <h5>IoT - Digital Experience
                </h5>
              </div>
              <div class="ser-hover">
                <h5>IoT - Digital Experience
                </h5>
                <p>Empower connectivity, transforming data; your IoT solution for future growth
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="item">
          <a routerLink="/data-science">
            <div class="services-item">
              <div class="card-overlay"></div>
              <div class="thumbnail">
                <img src="./assets/images/services/thumbnail/data-science.png" alt="services-image" />
                <h5>Data Science
                </h5>
              </div>
              <div class="ser-hover">
                <h5>Data Science
                </h5>
                <p>Strategic insights, advanced data mining; propelling your success through data science.
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="item">
          <a routerLink="/analytics">
            <div class="services-item">
              <div class="card-overlay"></div>
              <div class="thumbnail">
                <img src="./assets/images/services/thumbnail/analytics.png" alt="services-image" />
                <h5>Analytics
                </h5>
              </div>
              <div class="ser-hover">
                <h5>Analytics
                </h5>
                <p>Precision analytics, unlocking actionable insights for strategic business elevation
                </p>
              </div>
            </div>
          </a>
        </li>

        <li class="item">
          <a routerLink="/etl-data-quality">
            <div class="services-item">
              <div class="card-overlay"></div>
              <div class="thumbnail">
                <img src="./assets/images/services/thumbnail/etl-data-quality.png" alt="services-image" />
                <h5>ETL and data quality
                </h5>
              </div>
              <div class="ser-hover">
                <h5>ETL and data quality
                </h5>
                <p>Providing seamless ETL processes, ensuring data integrity for informed decision-making
                </p>
              </div>
            </div>
          </a>
        </li>

        <li class="item" ngxSlickItem>
          <a routerLink="/fullstackdevlopment">
            <div class="services-item">
              <div class="card-overlay"></div>
              <div class="thumbnail">
                <img src="./assets/images/services/thumbnail/fullstack-development.png" alt="services-image" />
                <h5>Full Stack Development
                </h5>
              </div>
              <div class="ser-hover">
                <h5>Full Stack Development
                </h5>
                <p>Efficient, Innovative, Full-stack solutions for your business's digital success
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="item">
          <a routerLink="/cyber-security">
            <div class="services-item">
              <div class="card-overlay"></div>
              <div class="thumbnail">
                <img src="./assets/images/services/thumbnail/cyber-security.png" alt="services-image" />
                <h5>Cyber Security
                </h5>
              </div>
              <div class="ser-hover">
                <h5>Cyber Security
                </h5>
                <p>Creating robust cybersecurity defenses, safeguarding digital assets from evolving threats.
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="item">
          <a routerLink="/automation-quality">
            <div class="services-item">
              <div class="card-overlay"></div>
              <div class="thumbnail">
                <img src="./assets/images/services/thumbnail/automation-&-quality-eng.png" alt="services-image" />
                <h5>Automation and <br />quality Engineering
                </h5>
              </div>
              <div class="ser-hover">
                <h5>Automation and quality Engineering
                </h5>
                <p>Efficient automation, ensuring top-notch quality; engineering success in every project
                </p>
              </div>
            </div>
          </a>
        </li>
      </ngx-slick-carousel>
      <!-- </ul> -->
    </div>
  </div>
</section>
<section class="large-cap light-gray-bg">
  <div class="container">
    <div class="text-center">
      <div data-aos="fade-up">
        <h6 class="sub-title">Our Value Prop</h6>
        <h2>Comprehensive analysis of your challenges and committed to deliver best-in-class reliable IT
          Services
        </h2>
      </div>
      <div class="value-prop">
        <div class="sevi-item" data-aos="fade-up" data-aos-duration="500">
          <div class="lg-icon">
            <img src="./assets/images/Homepage/icons/it-innovation.png" alt="Innovation" />
          </div>
          <h6>IT Innovation</h6>
          <p>Relentless pursuit of excellence with commitment on staying at the forefront of
            technological advancements
          </p>
        </div>
        <div class="sevi-item" data-aos="fade-up" data-aos-duration="1000">
          <div class="lg-icon">
            <img src="./assets/images/Homepage/icons/quality-reliability.png" alt="reliability" />
          </div>
          <h6>Quality and Reliability</h6>
          <p>Steadfast commitment in upholding the bedrock values exceeding industry benchmarks, new
            standards of excellence in
            promoting trust and dependability
          </p>
        </div>
        <div class="sevi-item" data-aos="fade-up" data-aos-duration="1500">
          <div class="lg-icon">
            <img src="./assets/images/Homepage/icons/agile-flexible.png" alt="reliability" />
          </div>
          <h6> Agile and Flexible</h6>
          <p>Swiftly adapting to market shifts and ability to remain nimble in a rapidly changing
            world, seizing oppurtunities and delivering perfectly aligned solutions
          </p>
        </div>
        <div class="sevi-item" data-aos="fade-up" data-aos-duration="2000">
          <div class="lg-icon">
            <img src="./assets/images/Homepage/icons/socially-responsible.png" alt="reliability" />
          </div>
          <h6> Social Responsibility </h6>
          <p>Profound commitment with ethical business practices impacting society and contributing to
            a more sustainable future
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="video-blog">
  <div class="container">
    <div class="" data-aos="fade-up">
      <div class="video-thumbnail">

        <div>
          <h2 class="text-white">Employee Talent and Culture</h2>
          <div class="btn-group mt-0">
            <a [routerLink]="['/aboutus']" fragment="peoplewecare">Read More
              <span class="right-arrow">
                <img src="./assets/images/button-arrow.png" alt="button-arrow" /> </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="large-cap">
  <div class="container">
    <div class="text-center" data-aos="fade-up">
      <h6 class="sub-title">We Make Connections</h6>
      <h2>Products</h2>
      <p class="max-length">Empower your business with our versatile support and expertise in seamlessly
        integrating and
        optimizing products. Establish smooth operations creating a hormonious ecosystem of technology
        for your success.
      </p>
    </div>
    <div class="solutions-group">
      <a routerLink="/medtech">
        <div class="solution-box" data-aos="fade-up">
          <div class="solution-image">
            <img src="./assets/images/Homepage/medtechmd.png" alt="medtechmd" />
          </div>
          <div class="solution-content">
            <p>MedTECHMD</p>
            <h5>Health Tracker, PHR and Remote Care
              Solutions with devices.
            </h5>
          </div>
        </div>
      </a>
      <a routerLink="/searchblox">
        <div class="solution-box" data-aos="fade-up">
          <div class="solution-image">
            <img src="./assets/images/Homepage/searchblox.png" alt="searchblox" />
          </div>
          <div class="solution-content">
            <p>Seachblox</p>
            <h5>Generative AI
              Based conversations with your data.
            </h5>
          </div>
        </div>
      </a>
      <a routerLink="/irms">
        <div class="solution-box" data-aos="fade-up">
          <div class="solution-image">
            <img src="./assets/images/Homepage/rxcloud.png" alt="rxcloud" />
          </div>
          <div class="solution-content">
            <p>IRMS</p>
            <h5>Integrated relationship management systems.
            </h5>
          </div>
        </div>
      </a>
    </div>
    <div class="d-flex justify-content-center pt-4 mt-3" data-aos="fade-in">
      <div class="btn-group mt-0">
        <a routerLink="/medtech">Read More
          <span class="right-arrow">
            <img src="./assets/images/button-arrow.png" alt="button-arrow" /> </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="large-cap industries">
  <div class="container">
    <div class="text-center" data-aos="fade-up">
      <h6 class="sub-title">Industries
      </h6>
      <h2 class="text-white">We bring industry expertise essential for navigating complexities and driving
        innovation.
      </h2>
    </div>
    <div class="industries-slider" data-aos="fade-in">
      <ngx-slick-carousel #slickModal="slick-carousel" [config]="industriesConfig" class="industries-home">

        <!-- <ul class="industries-home"> -->
        <a routerLink="/bankfinancial">
          <div class="item" ngxSlickItem>
            <div class="icon-box">
              <img src="./assets/images/Homepage/icons/banking-finance.png" alt="banking-finance" />
            </div>
            <h5>Banking and
              Financials
            </h5>
            <p>Tech-Driven, Customer-Centric Banking
            </p>
          </div>
        </a>
        <a routerLink="/insurance">
          <li class="item">
            <div class="icon-box">
              <img src="./assets/images/Homepage/icons/insurance.png" alt="Insurance" />
            </div>
            <h5>Insurance
            </h5>
            <p>Insurance Redefined: Where Tech Meets Customer Needs</p>
          </li>
        </a>
        <a routerLink="/healthcare">
          <li class="item">
            <div class="icon-box">
              <img src="./assets/images/Homepage/icons/healthcare.png" alt="healthcare" />
            </div>
            <h5>Healthcare & Life Science
            </h5>
            <p>Connecting Science, Nurturing Lives, Empowered by Tech
            </p>
          </li>
        </a>
        <a routerLink="/manufacturing">
          <li class="item">
            <div class="icon-box">
              <img src="./assets/images/Homepage/icons/manufacturing.png" alt="manufacturing" />
            </div>
            <h5>Manufacturing
            </h5>
            <p>Innovation in Every Bolt, Tech at Every Turn </p>
          </li>
        </a>
        <a routerLink="/retail">
          <li class="item">
            <div class="icon-box">
              <img src="./assets/images/Homepage/icons/retail.png" alt="retail" />
            </div>
            <h5>Retail
            </h5>
            <p>Revolutionizing Retail with Tech-Forward Trends
            </p>
          </li>
        </a>
        <a routerLink="/energyutilities">
          <li class="item">
            <div class="icon-box">
              <img src="./assets/images/Homepage/icons/energy-&-utilities.png" alt="energy" />
            </div>
            <h5>Energy and Utilities
            </h5>
            <p>Tech-Driven Energy Excellence for a Sustainable World</p>
          </li>
        </a>
        <a routerLink="/mobility-hospitality">
          <li class="item">
            <div class="icon-box">
              <img src="./assets/images/Homepage/icons/mobility.png" alt="mobility" />
            </div>
            <h5>Mobility and Hospitality
            </h5>
            <p>Tech Meets Travel: Crafting Memorable Journeys and Stays
            </p>
          </li>
        </a>
        <a routerLink="/media-communications">
          <li class="item">
            <div class="icon-box">
              <img src="./assets/images/Homepage/icons/media-&-communications.png" alt="media-communications" />
            </div>
            <h5>Media and communications
            </h5>
            <p>Transformative Tech in Media, Redefining Communications</p>
          </li>
        </a>
        <!-- </ul> -->
      </ngx-slick-carousel>
    </div>
  </div>
</section>
<section>
  <div class="container" data-aos="fade-up">
    <div class="client-says">
      <div class="client">
        <h6 class="sub-title">Our Clients </h6>
        <h2>Establishing partnership,<br /> with clients </h2>
      </div>
      <div class="clients-group">
        <ngx-slick-carousel #slickModal="slick-carousel" [config]="ourClientConfig" class="our-cllient">
          <div class="item" ngxSlickItem>
            <p>"GlobalSumi's exceptional support in Telemedicine technology has been instrumental in our success in the Healthcare sector, showcasing expertise and dedications"
            </p>
            <div class="d-flex align-items-center pt-3 mt-1">
              <!-- <div class="profile position-relative">
                <img src="./assets/images/profile-img.png" alt="" />
                <div class="quotation">
                  <img src="./assets/images/quotation.png" alt="quotation" />
                </div>
              </div> -->
              <div class="ps-3 auth-info">
                <h6>- MedTechMD</h6>
                <!-- <span>M&T Bank</span> -->
              </div>
            </div>
          </div>
          <div class="item" ngxSlickItem>
            <p>"The genuine dedication of Global Sumi's contribution during our project's crucial delivery exemplified their commitment to excellence and success"
            </p>
            <div class="d-flex align-items-center pt-3 mt-1">
              <!-- <div class="profile position-relative">
                <img src="./assets/images/profile-img.png" alt="" />
                <div class="quotation">
                  <img src="./assets/images/quotation.png" alt="quotation" />
                </div>
              </div> -->
              <div class="ps-3 auth-info">
                <h6>- Commercial Bank</h6>
                <!-- <span>M&T Bank</span> -->
              </div>
            </div>
          </div>

        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
