<div class="sidebar-sticky">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/ai-ml" routerLinkActive="active">AI
        and ML
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cloud-services" routerLinkActive="active">Cloud Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/iot-digitital-experience" routerLinkActive="active">IOT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/data-science" routerLinkActive="active">Data Science </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/analytics" routerLinkActive="active">Analytics </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/etl-data-quality" routerLinkActive="active">ETL and Data Quality
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" routerLink="/fullstackdevlopment" routerLinkActive="active">Full Stack Development
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cyber-security" routerLinkActive="active">Cyber Security
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/automation-quality" routerLinkActive="active">Automation and Quality Engineering
      </a>
    </li>
  </ul>

</div>