<div class="sidebar-sticky">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/medtech" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">MedTechMD</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/searchblox">Searchblox</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/irms">Integrated Relationship Management Systems
      </a>
    </li>
  </ul>
</div>